.text-element {
    color: #333;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 5px;
    margin-top: 2rem;
}

button:hover {
    background-color: #0056b3;
}