.mostra-esercizio-button,
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.mostra-esercizio-button:hover,
button:hover {
    background-color: #0056b3;
}

.mostra-esercizio-button {
    border-radius: 50px;
    margin: 0 5px;
}

.fadeIn {
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
